.page-header
	h1 TMNT Project Description
p The aim of the Mesh Networked Tortoise Project is to assist the Cal Poly Animal Science department with their Leopard Tortoise vitamin D study. Currently, this study requires students to manually monitor key data metrics, a time and labor intensive process. The TMNT project was born out of the need to reduce the amount of manual labor required to perform this and similar studies, as well as increase the quality and quantity of acquired data.

.section#students
	.page-header
		h1 The Team 
			small The members who created the project.
	ul.thumbnails
		li.span3
			.thumbnail
				img(src='/images/SteffenLyngbaek.jpeg')
				.caption
					h5 Steffen Lyngbaek
					p Fourth year computer engineering student at Cal Poly. Interested in mobile and web technologies.
					p
						a.btn(href='http://steffen.lyngbaek.com') Website
		li.span3
			.thumbnail
				img(src='/images/JustinCotton.jpeg')
				.caption
					h5 Justin Cotton
					p Computer engineering student at Cal Poly. Interested in mobile development, embedded systems, and new technology.
					p
						a.disabled.btn Website
		li.span3
			.thumbnail
				img(src='/images/EugeneBistolas.jpeg')
				.caption
					h5 Eugene Bistolas
					p Fourth year computer engineering student at Cal Poly. Interested embedded systems and mobile development.
					p
						a.btn(href='http://bistolas.info') Website
		li.span3
			.thumbnail
				img(src='/images/KevinMathew.jpeg')
				.caption
					h5 Kevin Mathews
					p Computer engineer at cal poly. interested in new hardware and app dev tech. enjoys hiking and skydiving.
					p
						a.btn.disabled Website
		.row
		li.span3
			.thumbnail
				img(src='/images/ElushShirazpour.jpeg')
				.caption
					h5 Elush Shirazpour
					p I am interested in embedded systems and computer architecture. I enjoy playing basketball and taking road trips on my free time.
					p

		li.span3
			.thumbnail
				img(src='/images/AlexHaag.jpeg')
				.caption
					h5 Alex Haag
					p Fourth Year CPE. Interested in hardware design. Enjoys video games and painting.
					p
						a.disabled.btn Website

.section#professors
	.page-header
		h1 The Professors 
			small The professors who sponsored the project.
	ul.thumbnails
		li.span3
			.thumbnail
				img(src='/images/LynneSlivovsky.jpeg')
				.caption
					h5 Dr. Lynne Slivovsky
					p CPE Professor.
					p
						a.btn(href='http://www.ee.calpoly.edu/faculty/lslivovs') Website
		li.span3
			.thumbnail
				img(src='/images/JohnOliver.jpeg')
				.caption
					h5 Dr. John Oliver
					p I like the dynamic field of computer architecture. Low-power embedded systems are particularly interesting, the design space requires innovative, elegant solutions. Im currently working on investigating the environmental impact of semiconductors and how eco-related metrics can impact architectural design.
					p
						a.btn(href='http://cpe.calpoly.edu/faculty/john-oliver/') Website
		li.span3
			.thumbnail
				img(src='/images/MarkEdwards.jpeg')
				.caption
					h5 Dr. Mark Edwards
					p Dr. Edwards has been working in the field of comparative animal nutrition for over twenty years. His activities and interests contribute to his personal objective to enhance wildlife conservation, education and research goals of the zoological community through the development and application of science-based animal nutrition, preventive health and husbandry practices.
					p
						a.btn(href='http://animalscience.calpoly.edu/FacultyStaff/edwards') Website