section#status
	.well
		h1 Tortoise Mesh Network Project
		p Home of the South African Leopard Tortoises
		hr
		.row-fluid#status
			.span4#node1-status
				h2 Node 1 
					button.btn.btn-success Status OK
				p Loading...
			.span4#node2-status
				h2 Node 2 
					button.btn.btn-success Status OK
				p Loading...
			.span4
				h2 Node 3 
					button.btn.btn-warning Undeployed
				p No data found
section#node1

section#node2

script(type='text/javascript', src='/javascripts/scripts.js')