section#status
	.well
		h1 TMNT - Tortoise Mesh Network Team
		p Home of the South African Leopard Tortoises
		hr
		.row-fluid#status
			.span4#node1-status
				h2 Node 1 
					button.btn.btn-success Status OK
				p Loading...
			.span4#node2-status
				h2 Node 2 
					button.btn.btn-success Status OK
				p Loading...
			.span4
				h2 Node 3 
					button.btn.btn-warning Undeployed
				p No data found
section#node1
	.page-header
		h1 Node 1 
			small First node in the past 24 hours.
	.graph-container
		.caption
			h3 Node 1, Pen 0 
				small Temperature Readings
			.hero-graph#n1p0t
	.graph-container
		.caption
			h3 Node 1, Pen 1 
				small Temperature Readings
			.hero-graph#n1p1t
	.graph-container
		.caption
			h3 Node 1, Pen 2 
				small Temperature Readings
			.hero-graph#n1p2t
	.graph-container
		.caption
			h3 Node 1, Pen 3 
				small Temperature Readings
			.hero-graph#n1p3t
	.graph-container
		.caption
			h3 Node 1  
				small Light Readings
			.hero-graph#n1l
	.graph-container
		.caption
			h3 Node 1 
				small Humidity Readings
			.hero-graph#n1h
section#node2
	.page-header
		h1 Node 2 
			small First node in the past 24 hours.
	.graph-container
		.caption
			h3 Node 2, Pen 0 
				small Temperature Readings
			.hero-graph#n2p0t
	.graph-container
		.caption
			h3 Node 2, Pen 1 
				small Temperature Readings
			.hero-graph#n2p1t
	.graph-container
		.caption
			h3 Node 2, Pen 2 
				small
					u Temperature
					|  Readings
			.hero-graph#n2p2t
	.graph-container
		.caption
			h3 Node 2, Pen 3 
				small
					u Temperature
					|  Readings
			.hero-graph#n2p3t
	.graph-container
		.caption
			h3 Node 2  
				small Light Readings
			.hero-graph#n2l
	.graph-container
		.caption
			h3 Node 2 
				small Humidity Readings
			.hero-graph#n2h

script(type='text/javascript', src='/javascripts/scripts.js')