!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/body.style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/raphael-min.js')
    script(type='text/javascript', src='/javascripts/morris.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container.offset1
          a.brand(href='/#') TMNT
          .nav-collapse
            ul.nav
              li.dropdown
                a(class='dropdown-toggle', data-toggle='dropdown', href='/#') Node 1 
                  b.caret
                ul.dropdown-menu
                  li.nav-header Temp Sensor
                  li
                    a.scroll(href='/#n1p0') Pen 0
                  li
                    a.scroll(href='/#n1p1') Pen 1
                  li
                    a.scroll(href='/#n1p2') Pen 2
                  li
                    a.scroll(href='/#n1p3') Pen 3
                  li.divider
                  li.nav-header Light Sensor
                  li
                    a.scroll(href='/#n1light') Light
                  li.divider
                  li.nav-header Humidity Sensor
                  li
                    a.scroll(href='/#n1hum') Humidity
              li.dropdown
                a(class='dropdown-toggle', data-toggle='dropdown', href='/#') Node 2 
                  b.caret
                ul.dropdown-menu
                  li.nav-header Temp Sensor
                  li
                    a.scroll(href='/#n2p0') Pen 0
                  li
                    a.scroll(href='/#n2p1') Pen 1
                  li
                    a.scroll(href='/#n2p2') Pen 2
                  li
                    a.scroll(href='/#n2p3') Pen 3
                  li.divider
                  li.nav-header Light Sensor
                  li
                    a.scroll(href='/#n2light') Light
                  li.divider
                  li.nav-header Humidity Sensor
                  li
                    a.scroll(href='/#n2hum') Humidity
              li
                a(href='/reference') Reference
              li
                a(href='/about') About

    .container
      div!= body