.section#reference
	.page-header
		h1 Pen Reference 
			small Layout of the pens in the tortoise unit.
	.row
		.span12
			a.thumbnail
				img(src='/images/tmnt.jpg')
	.page-header
		h1 Map 
			small Map of the swine unit and tortoise pens.
	.row
		.span12
			| <iframe width="940" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;hq=&amp;hnear=1702+Morro+St,+San+Luis+Obispo,+California+93401&amp;t=h&amp;ll=35.311989,-120.672637&amp;spn=0.001094,0.002524&amp;z=19&amp;output=embed"></iframe>